* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 auto;
  padding: 0 16px;
  max-width: 616px;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.953em;
}

h2 {
  font-size: 1.563em;
}

.minor {
  font-size: 0.64em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  margin-bottom: 8px;
}
